import { CommonModule } from '@angular/common';
import { Component } from '@angular/core';
import { TooltipDirective } from 'src/app/utils/tooltip.directive';

@Component({
  selector: '{{componentPrefix}}-{{dashCaseName}}',
  templateUrl: './{{dashCaseName}}.component.html',
  styles: [':host{display:contents}'], // host: { class: 'contents' }
  imports: [
    CommonModule,
    TooltipDirective, // Auto show tooltips on elements with title
  ],
})
export class {{upperCamelCaseName}}Component {}
 